.reveal .ibm-header,
.content-info .intro-design-logo {
  background: rgba(253, 253, 253, .75);
}

/**
  * Background States
**/
.reveal .state-background {
  background-repeat: no-repeat;
}

.vase .state-background {
  background-image: url('../images/vase.jpg');
  background-position: center;
  background-size: 60vh;
  background-position: right;
}

.flowers .state-background {
  background-image: url('../images/red-gerbera.jpg');
  background-position: center;
  background-size: cover;
}

.dark .slide-background {
  background: #121212;
}

.design-camp .state-background {
  background-image: url('../images/design-camp.jpg');
  background-position: center;
  background-size: cover;
}

.design-thinking .slide-background {
  background-image: url('../images/design-thinking.svg');
  background-size: 107%;
  background-position: 12vw center;
  transition: opacity .3s;
}

.dt-rad .slide-background {
  background-image: url('../images/dt-rad.svg');
  background-size: 107%;
  background-position: 12vw center;
}

.empathy-map .slide-background {
  background-image: url('../images/empathy-map.svg');
  background-position: center;
  background-size: 60vh;
}

.value-map .slide-background {
  background-image: url('../images/difficlty-value.svg');
  background-position: center;
  background-size: 90vh;
}

.galaxy .slide-background {
  background-image: url('../images/galaxy.jpg');
  background-position: center;
  background-size: cover;
}

.challenge .slide-background {
  background-image: url('../images/challenge.jpg');;
  background-position: center;
  background-size: cover;
}

/**
  * Custom state styling
**/
section[data-state~='flowers'] h2 {
  text-align: right;
  width: 30vw;
  float: right;
}

section[data-state~='design-camp'] h2,
section[data-state~='design-thinking'] h2,
section[data-state~='dt-rad'] h2,
section[data-state~='empathy-map'] h2,
section[data-state~='value-map'] h2,
section[data-state~='challenge'] h2 {
  color: transparent;
}

section[data-state~='galaxy'] h2 {
  color: #fdfdfd;
  background: rgba(0, 44, 50, .25);
  padding: 1em .25em;
  text-align: center;
}

#time {
  display: none;
  float: right;
}

#section {
  float: right;
}

/**
  * IBM Overrides
**/
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  color: #006d5d;
}

.reveal {
  color: #003c32;
}

body {
  background: #fdfdfd;
}

.reveal .progress span {
  background: #d74108;
}

.labeled-list dt {
  margin-bottom: 0;
}

.labeled-list dd {
  color: #006d5d;
  font-weight: normal;
  margin-left: 1.5rem;
  margin-top: .5em;
  line-height: 1.3em;
}

.reveal a:not(.image) {
  color: #d74108;
  text-decoration: none;
  background-repeat: repeat-x;
  background-image: linear-gradient(to top, #fdfdfd 75%, #d74108 75%);
  background-size: 0.125em 0.1875em;
  background-position: 0 1.084  em;
  text-shadow: 0.0625em 0.0625em 0 #fdfdfd, -0.0625em 0 0 #fdfdfd;
}

.reveal a:not(.image):hover {
  color: #872a0f;
  background-image: linear-gradient(to top, #fdfdfd 75%, #872a0f 75%);
}


.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #008571;
}
.reveal .controls div.navigate-left:hover,
.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #41d6c3;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #008571;
}
.reveal .controls div.navigate-down:hover,
.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #41d6c3;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #008571;
}
.reveal .controls div.navigate-right:hover,
.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #41d6c3;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #008571;
}
.reveal .controls div.navigate-up:hover,
.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #41d6c3;
}


.reveal code[class*="language"] {
  background: inherit;
  outline: none;
}

.bounce {
  -moz-animation: "bounce" 2s infinite;
  -webkit-animation: "bounce" 2s infinite;
  animation: "bounce" 2s infinite;
}

@-moz-keyframes bounce {
  0% {
    transform: translateY(-.5em);
  }
  30% {
    transform: translateY(.25em);
  }
  60% {
    transform: translateY(.25em);
  }
  95% {
    transform: translateY(-.5em);
  }
  100% {
    transform: translateY(-.5em);
  }
}
@-webkit-keyframes bounce {
  0% {
    transform: translateY(-.5em);
  }
  30% {
    transform: translateY(.25em);
  }
  60% {
    transform: translateY(.25em);
  }
  95% {
    transform: translateY(-.5em);
  }
  100% {
    transform: translateY(-.5em);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(-.5em);
  }
  30% {
    transform: translateY(.25em);
  }
  60% {
    transform: translateY(.25em);
  }
  95% {
    transform: translateY(-.5em);
  }
  100% {
    transform: translateY(-.5em);
  }
}


.reveal [class*="nine60"] {
  color: black;
  box-sizing: border-box;
}

.reveal [class*="nine60--"] {
  /*border: 1px solid black;*/
  padding: .25em .5em;
  text-transform: lowercase;

  background: rgba(188, 188, 188, .75);
}

.reveal .nine60 {
  max-width: 960px;
  height: 20vh;
  margin: 0 auto;
/*  padding-left: 1.0417%;  20px / 960px * 100% * .5, 1/2 gutter
  padding-right: 1.0417%;*/
  background-image: linear-gradient(to right, rgb(237, 236, 237), rgb(237, 236, 237) 1.04167%, rgb(149, 149, 149) 1.04167%, rgb(149, 149, 149) 7.29167%, rgb(237, 236, 237) 7.29167%, rgb(237, 236, 237) 9.375%, rgb(149, 149, 149) 9.375%, rgb(149, 149, 149) 15.625%, rgb(237, 236, 237) 15.625%, rgb(237, 236, 237) 17.70833%, rgb(149, 149, 149) 17.70833%, rgb(149, 149, 149) 23.95833%, rgb(237, 236, 237) 23.95833%, rgb(237, 236, 237) 26.04167%, rgb(149, 149, 149) 26.04167%, rgb(149, 149, 149) 32.29167%, rgb(237, 236, 237) 32.29167%, rgb(237, 236, 237) 34.375%, rgb(149, 149, 149) 34.375%, rgb(149, 149, 149) 40.625%, rgb(237, 236, 237) 40.625%, rgb(237, 236, 237) 42.70833%, rgb(149, 149, 149) 42.70833%, rgb(149, 149, 149) 48.95833%, rgb(237, 236, 237) 48.95833%, rgb(237, 236, 237) 51.04167%, rgb(149, 149, 149) 51.04167%, rgb(149, 149, 149) 57.29167%, rgb(237, 236, 237) 57.29167%, rgb(237, 236, 237) 59.375%, rgb(149, 149, 149) 59.375%, rgb(149, 149, 149) 65.625%, rgb(237, 236, 237) 65.625%, rgb(237, 236, 237) 67.70833%, rgb(149, 149, 149) 67.70833%, rgb(149, 149, 149) 73.95833%, rgb(237, 236, 237) 73.95833%, rgb(237, 236, 237) 76.04167%, rgb(149, 149, 149) 76.04167%, rgb(149, 149, 149) 82.29167%, rgb(237, 236, 237) 82.29167%, rgb(237, 236, 237) 84.375%, rgb(149, 149, 149) 84.375%, rgb(149, 149, 149) 90.625%, rgb(237, 236, 237) 90.625%, rgb(237, 236, 237) 92.70833%, rgb(149, 149, 149) 92.70833%, rgb(149, 149, 149) 98.95833%, rgb(237, 236, 237) 98.95833%, rgb(237, 236, 237) 100%); }

.reveal .nine60:before,
.reveal .nine60:after {
    content: " ";
    display: table;
}

.reveal .nine60:after {
    clear: both;
}

.reveal .nine60--left {
  float: left;
  width: 31.25%;
  height: 10vh;
  margin-left: 1.0417%;

}

.reveal .nine60--right {
  float: right;
  width: 64.583333333%;
  height: 15vh;
  margin-right: 1.0417%;
}


.reveal [library-class="example--SMALL"] {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.reveal [library-class="example--title"] {
  font-weight: bold;
}

.reveal [library-class="example--SMALL"]:nth-of-type(odd) {
  padding-right: .5rem;
}

.reveal [library-class="example--SMALL"]:nth-of-type(even) {
  padding-left: .5rem;
}
